/* import lato font from googlefonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* using font-family for page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: #f2f2f2;
  transition: all 0.5s ease;
}

.top-navigation {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 1rem;
  transition: all 0.5s ease;
}

.navbar-links li:hover {
  border-radius: 10px 10px 15px 15px;
  background-color: #62787f;
}

.navbar-links li:hover a {
  color: #fff;
  background-color: #000;
}

.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.intro {
  text-align: center;
}

.name {
  color: #62787f;
}

h1,
h2 {
  color: #000;
  margin-bottom: 1rem;
}
